// scss-lint:disable Comment IdSelector SelectorFormat ImportantRule
/*!--------------------------------------------------------------------
STYLES "Outdated Browser"
Version:    1.1.3 - 2016
author:     Burocratik
website:    http://www.burocratik.com
* @preserve
-----------------------------------------------------------------------*/

$outdated-browser-zindex: 9999 !default;
$outdated-browser-backgroundcolor: #f25648 !default;
$outdated-browser-color: #fff !default;
$outdated-browser-padding-bottom: 1em !default;
$outdated-browser-fontsize-headline: 22px !default;
$outdated-browser-fontsize-paragraph: 12px !default;
$outdated-browser-fontsize-close: 36px !default;

#outdated {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: $outdated-browser-zindex;
  background-color: $outdated-browser-backgroundcolor;
  color: $outdated-browser-color;
  padding-bottom: $outdated-browser-padding-bottom;

  h6 {
    font-size: $outdated-browser-fontsize-headline;
    line-height: 1;
    margin: 1.2em 30px 0.4em;
    color: $outdated-browser-color;
  }

  p {
    font-size: $outdated-browser-fontsize-paragraph;
    line-height: 1;
    margin: 0 auto;
    text-indent: 0;
    color: $outdated-browser-color;
  }

  #btnUpdateBrowser {
    display: block;
    position: relative;
    padding: 10px 20px;
    margin: 30px auto 0;
    width: 230px; // need for IE
    color: $outdated-browser-color;
    text-decoration: none;
    border: 2px solid $outdated-browser-color;
    cursor: pointer;

    &:hover {
      color: $outdated-browser-backgroundcolor;
      background-color: $outdated-browser-color;
    }
  }

  .last {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 20px;
    height: 20px;

    &[dir="rtl"] {
      right: auto !important;
      left: 25px !important;
    }
  }

  #btnCloseUpdateBrowser {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $outdated-browser-color;
    font-size: $outdated-browser-fontsize-close;
    line-height: $outdated-browser-fontsize-close;
  }

  * html & {
    position: absolute;
  }
}
